.btn {
  margin-left: 10px;
}

.response {
  margin: 5rem;
  padding: 1rem;
  min-height: 200px;
  border: 1px solid #eee;
  background: #77757557;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}